{block head}{/block}
{block content}
<form n:name=pwchangeForm>
	<div class="form-group col-sm-3">
		<label >Password</label>
		<input n:name=password class="form-control input_neco"  placeholder="password">
		<label >Password again</label>
		<input n:name=password_repeat class="form-control input_neco"  placeholder="password">
		<br><br>
		<button n:name=send class="btn btn-primary mb-2">Save</button>
	</div>
</form>
{/block}
{block footer}{/block}