.form-search{
	display:inline;
}

.button-search{
	background: transparent;
	border: none;
	position: absolute;
	top: 16px;
	right: 15px;
	color: #848484;
	cursor: pointer;
}
.search-bar{
	position: relative;
	float: right;
	margin-top:10px;
}

.label-title{
	text-align: left;
	margin-bottom:15px;
}

.left-block{
	position: relative;
}
.detail-url{
	z-index: -5;

}

.detail-url a{
	 color:black;
 }

.detail-url a:hover{
	color:#4ac8ed;
}
.dropdown-authors {
	z-index: 55;
	background-color: #c9c9c9;
	padding:14px;
	text-align: left;
	color:black;
	margin-top:5px;
	margin-bottom:5px;

	width:300px;
	position:absolute;
}
.dropdown-abst {
	z-index: 55;
	background-color: #c9c9c9;
	padding:14px;
	text-align: justify;
	color:black;
	margin-top:5px;
	margin-bottom:5px;
	word-wrap: break-word;
	width:300%;
	position:absolute;
}



hr{
	background-color: black;
}
.dropdown-abst p {

	color:black;
}

.label-show {
	background-color: #e3e3e3;
	margin-bottom:3px;
	padding: 0px;
	text-align: center;
	width: 130px;
	color: black;
	cursor: pointer;
	font-weight: bold;
}

.label-show:hover {
		color:#4ac8ed;
}

.toggle-down {

	display: none;
}
